body, html {
    height: 100%;
  }
  .bg {
    background-image: url("http://papers.co/wallpaper/papers.co-sm47-pastel-purple-blur-gradation-4-wallpaper.jpg");
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }