body, html {
    height: 100%;
    }
    .bg {
    background-image: url("https://image.freepik.com/free-photo/top-view-woman-s-hands-working-with-laptop_1421-202.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }